$fontSizeSmall: 15px;

body {
	font-size: 18px;
	line-height: 1.65;
	font-weight: 400;
	@media (prefers-color-scheme: dark) {
		color: color(gray, 200);
	}
	color: color(gray, 800);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
}

h1,
h2,
h3,
h4,
h5 {
	line-height: 1.2;
	margin: 1em 0 0.5em 0;
	@media (prefers-color-scheme: dark) {
		color: $white;
	}
	color: color(gray, 950);
	font-weight: 700;
}

h1 {
	font-size: 3.052em;
}
h2 {
	font-size: 2.441em;
}
h3 {
	font-size: 1.953em;
}
h4 {
	font-size: 1.563em;
}
h5 {
	font-size: 1.25em;
}

p {
	margin: 0 0 1em 0;
}

code {
	font-family: var(--font-source-code);
	font-weight: bold;
	color:rgb(0, 114, 114);
	@media (prefers-color-scheme: dark) {
		color: rgb(0, 231, 231);
	}
}

.quickstart {
	list-style: none inside;
	margin-top: 4px;
	font-size: medium;
	width: fit-content;
	color:rgb(82, 82, 82);
	border: 2px solid #a0a0a0;
	border-radius: 2rem;
	background-color: #ffffff;
	padding-left: 0.5rem;
	padding-top: 0.5rem;
	padding-bottom: 1rem;
	padding-right: 0.5rem;
	@media (prefers-color-scheme: dark) {
		color: rgb(170, 170, 170);
		border: 2px solid #1f1f1f;
		background-color: #161616;
	}
}

.qstart {
	font-family: var(--font-source-code);
	font-weight: bold;
	margin-top: 4px;
	color:rgb(165, 0, 115);
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	@media (prefers-color-scheme: dark) {
		color: rgb(255, 0, 179);
	}
}

.install {
	font-family: var(--font-source-code);
	font-weight: bold;
	margin-top: 4px;
	color:rgb(0, 161, 161);
	border: 2px solid #a7a7a7;
	border-radius: 2rem;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	background-color: #eeeeee;
	@media (prefers-color-scheme: dark) {
		color: rgb(0, 231, 231);
		border: 2px solid #6e6e6e;
		background-color: #2e2e2e;
	}
}

.comment {
	font-family: var(--font-source-code);
	font-weight: bold;
	margin-top: 4px;
	color:rgb(102, 102, 102);
	border: 2px solid #929292;
	border-radius: 2rem;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	background-color: #dddddd;
	@media (prefers-color-scheme: dark) {
		color: rgb(170, 170, 170);
		border: 2px solid #4b4b4b;
		background-color: #2e2e2e;
	}
}

b,
strong {
	font-weight: 700;
	color: #fff;
	@media (prefers-color-scheme: dark) {
		color: $white;
	}
	color: color(gray, 950);
}
