---
import '../styles/global.scss';
---

<footer>
	<p>© MatthiesenXYZ 2024</p>
	<div class="footer_links">
		<a href="/archive">Previous Release Archives</a>
		<a href="https://github.com/MatthiesenXYZ/astro-ghostcms">GitHub</a>
		<a href="https://matthiesen.xyz">MatthiesenXYZ</a>
	</div>
</footer>
