---
import '../styles/global.scss';
import { SiteTitle } from '../consts';
import spaceghost from '../assets/spaceghost.png'
---

<header>
	<nav>
		<h2 id="site_title">
			<a href="/">
				<img src={spaceghost.src} alt="logo" width={64}/>
				{SiteTitle}
			</a>
		</h2>
		<div class="links">
			<a href="https://demo.astro-ghostcms.xyz" target="_blank"><i class="bi bi-folder-symlink-fill"> Live Demo</i></a>
			<a href="https://test.demo.astro-ghostcms.xyz" target="_blank"><i class="bi bi-flag-fill"> Unlighthouse</i></a>
			<a href="/docs" target=""><i aria-label="Docs"  class="bi bi-journal-code"> Docs</i></a>
			<a href="https://github.com/matthiesenxyz/astro-ghostcms" target="_blank"><i class="bi bi-github"> GitHub</i></a>
			<a href="https://discord.gg/e4yFbGHA72" target="_blank"><i class="bi bi-discord"> Discord</i></a>
		</div>
	</nav>
</header>

<style>
	.links a {
		text-decoration: none;
	}
	.filter-white{
		filter: invert(100%) sepia(0%) saturate(3179%) hue-rotate(226deg) brightness(118%) contrast(101%);
}
</style>
