---
import { Code } from "astro:components"
import quickstart from "../assets/quickstart.sh?raw"

---
<div class="quickstart">

    <center>
        <div class="qstart"> /|\ Astro-GhostCMS Quickstart /|\ </div>
    </center>

    <Code lang={'sh'} code={quickstart}/>

</div>
