---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SiteDescription, SiteTitle } from '../consts';
import GhostAstroFooter from '../components/GhostAstroFooter.astro';
---

<!doctype html>
<meta charset="utf-8" />
<html lang="en">
	<head>
		<title>{SiteTitle} </title>
		<BaseHead {SiteTitle} {SiteDescription}/>
		<body>
			<div class="glow"></div>
			<Header />
			<slot />
			<GhostAstroFooter />
			<Footer />
		</body>
	</head>
</html>
